<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSON table module</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@1.6.2/dist/base.min.css"
      integrity="sha256-ssLR+FMaogZBsdMJRkhlQqndXF0uoEd5BArJz/ftia4="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@1.6.2/dist/components.min.css"
      integrity="sha256-8n6uuc2/UKJdr+2vLhORSI0Jc7bIY9nOpbZp2kmYZ8Y="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.2.0/dist/typography.min.css"
      integrity="sha256-Bzpo9sIAOqjJGDQ0XjfcgkXcGq01xeaudbvMA10ojDw="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@1.6.2/dist/utilities.min.css"
      integrity="sha256-1xEMVyf5Obn9PZAEuVHiXzL4+QSO8bevhpynv2LgQUg="
      crossorigin="anonymous"
    />
  </head>
  <body class="px-2">
    <div id="app">
      <div class="prose max-w-full">
        <div class="py-2 sticky top-0 bg-white">
          <div>{{ status }}</div>
          <div v-if="data">
            Viewing rows {{ offset + 1 }} – {{ Math.min(total, offset + limit)
            }}. (Use <kbd>j</kbd> and <kbd>k</kbd> to navigate.)
          </div>
        </div>
        <table v-if="data" ref="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Contents</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in slice" :key="index">
              <th scope="row">{{ index + offset + 1 }}</th>
              <td>{{ row }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/vue@3.0.0-rc.5/dist/vue.global.js"
      integrity="sha256-mYrFFuhl9a7dhhIglG0BXjgCHrvV0Kol3TTbnnfghe4="
      crossorigin="anonymous"
    ></script>
    <script>
      parent.postMessage(
        {
          register: {
            title: document.title,
            inputs: ['file'],
            outputs: [],
          },
        },
        '*',
      )

      /// <reference types="./types" />
      const app = Vue.createApp({
        setup() {
          const data = Vue.shallowRef(null)
          const offset = Vue.ref(0)
          const table = Vue.ref(null)
          const limit = Vue.ref(20)
          const total = Vue.computed(() => {
            return data ? data.value.length : 0
          })
          const slice = Vue.computed(() => {
            return (
              data && data.value.slice(offset.value, offset.value + limit.value)
            )
          })

          const mode = Vue.ref('expand')
          const targetUp = Vue.ref(null)
          let queued

          Vue.watch([offset, table], () => {
            mode.value = 'expand'
            if (!queued) queued = setTimeout(updateLimit)
          })

          const updateLimit = () => {
            if (!table.value) return
            queued = null
            if (mode.value === 'expand') {
              if (table.value.offsetHeight <= 720) {
                limit.value++
                if (!queued) queued = setTimeout(updateLimit)
              } else {
                mode.value = 'collapse'
                if (!queued) queued = setTimeout(updateLimit)
              }
            } else if (mode.value === 'collapse') {
              if (table.value.offsetHeight > 720 && limit.value > 1) {
                limit.value--
                if (!queued) queued = setTimeout(updateLimit)
              } else if (
                targetUp.value != null &&
                offset.value + limit.value > targetUp.value &&
                offset.value > 0
              ) {
                offset.value -= 1
              } else {
                targetUp.value = null
                mode.value = 'stall'
              }
            }
          }

          Vue.onMounted(() => {
            updateLimit()
            window.onkeydown = (e) => {
              if (e.key === 'j') {
                offset.value += limit.value
              } else if (e.key === 'k') {
                targetUp.value = offset.value
                offset.value -= 1
                if (offset.value < 0) offset.value = 0
              }
            }
          })

          return {
            status: Vue.ref('Initializing...'),
            data,
            slice,
            offset,
            limit,
            total,
            table,
          }
        },
      })

      const vm = app.mount('#app')

      const setStatus = (x) => {
        vm.status = x
      }

      onmessage = async (e) => {
        if (e.data.input) {
          const file = e.data.input.file
          if (!file) {
            setStatus('No input file')
            return
          }
          setStatus('Reading ' + file.name)
          try {
            const data = JSON.parse(await file.text())
            if (!Array.isArray(data)) {
              setStatus('Not an array.')
              return
            }
            setStatus('Read ' + data.length + ' records.')
            vm.data = data
          } catch (error) {
            setStatus(`Failed: ${error}`)
            console.error(error)
          }
        }
      }
    </script>
  </body>
</html>
